@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Barlow');

body {
    background-color: pink;    
	font-family: 'Barlow', sans-serif;
	font-size: 1.5em;
    font-weight: normal;
}

h1 {
    text-align: center; 
    font-family: 'Monoton', cursive;
    font-size: 4em;
    margin-top:0.1em;
    margin-bottom:0.1em;
}

h2 {
    font-family: 'Chewy', cursive;
    background-color: black; color: pink;
    text-align: center;
    padding: 0.5rem;
}

h3 {
    text-align: center;
    font-family: 'Chewy', cursive;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid pink;
    padding: 10px;
}

.underline {
    color: red;
}

 .contribute {
    color:red;
    font-size: 1.5em;
    width: 100%;
    height: 1.6em;
 }

a, .red {
    color: red;
}

h2 a { color: red;font-weight: normal;}
h2 a:hover { text-decoration: none;}

table {
    font-family: Chewy;
}

hr {
    color: red;
}

#database li {
    list-style-type: none;
    margin-bottom: 0.9em;
}

#database li::first-letter {
    font-weight: bold;
}

input[type=submit] {
    font-family: 'Chewy', cursive;
    font-size: 0.8em;
    color: #000;
    margin-left: -40px;
}

input {background-color: transparent;border-width: 0px;,color:#000;}
.inscription {    font-family: 'Chewy', cursive;margin-top: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
        font-family: 'Chewy', cursive;
    font-size: 1.5em;

    opacity: 1; /* Firefox */
}